<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Publisher</title>
    <link href="assets/skeleton/css/skeleton.css" rel="stylesheet" >
    <link href="assets/skeleton/css/normalize.css" rel="stylesheet" >
    <style>
        .navbar,
        .underline {border-bottom: 1px solid #E1E1E1;}
        .pictures .row {padding-top: 5px; white-space: nowrap; margin-bottom: 15px;}
        button.publish { margin-top: 15px;}
        .published {background-color: #adff2f;}
        @media (min-width: 750px) {
            button.publish { margin-top: 80px; float: right;}
        }
    </style>
</head>
<body>
<div class="container">
    <div class="navbar">
        <h1>Image Publisher</h1>
    </div>
</div>

<div class="pictures container">
    <div class="row underline">
        <div class="three columns"><img src="assets/demo/img/a1a080d8-cf8f-4c0a-83f3-a5f59faf1531.png"></div>
        <div  class="five columns">
            <div class="underline"><strong>a1a080d8-cf8f-4c0a-83f3-a5f59faf1531.png</strong></div>
            <strong>First Last</strong><br />
            1234 Address ct.<br />
            Ringgold, Ga 30736<br />
        </div>
        <div class="four columns">
            <button class="publish button-primary">Publish</button>
        </div>
    </div>
    <div class="row underline">
        <div class="three columns"><img src="assets/demo/img/a1a080d8-cf8f-4c0a-83f3-a5f59faf1531.png"></div>
        <div  class="five columns">
            <div class="underline"><strong>a1a080d8-cf8f-4c0a-83f3-a5f59faf1531.png</strong></div>
            <strong>First Last</strong><br />
            1234 Address ct.<br />
            Ringgold, Ga 30736<br />
            <span class="published">Published.</span>

        </div>
        <div class="four columns">
            <button class="publish button">Unpublish</button>
        </div>
    </div>
</div>

</body>
</html>